# =========================
# Android / IntelliJ
# =========================
*.iml
.gradle/
local.properties
/.idea/*
!.idea/codeStyles   # אפשר להשאיר רק הגדרות קוד סטייל

# =========================
# OS
# =========================
.DS_Store

# =========================
# Build & Outputs
# =========================
/build/
/app/build/
captures/
.externalNativeBuild/
.cxx/
outputs/
*.apk
*.aab
*.log

# =========================
# Firebase / Secrets
# =========================
google-services.json
*.keystore
*.jks
