<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="PowerPlus"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BagrutProject"
        tools:targetApi="31">
        <activity
            android:name=".screens.CategoriesActivity"
            android:exported="false" />
        <!-- פעילויות קיימות שלך -->
        <activity
            android:name=".screens.AdminOrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".screens.OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".screens.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".screens.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".screens.OrderSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".screens.UpdateUserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.UserAfterLoginPage"
            android:exported="false" />
        <activity
            android:name=".screens.UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".screens.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".screens.CartActivity"
            android:exported="false" />
        <activity
            android:name=".screens.ItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".screens.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".screens.AddItem"
            android:exported="false" />
        <activity
            android:name=".screens.Odot"
            android:exported="false" /> <!-- MainActivity - עמוד ראשי -->
        <activity
            android:name=".screens.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.Login"
            android:exported="false" />
        <activity
            android:name=".screens.Register"
            android:exported="false" />
        <activity
            android:name=".screens.AdminPage"
            android:exported="false" />

        <receiver
            android:name=".utils.NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>